:root{
    --bitcoin-orange: #F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --gray:#BABABA;
    --off-white:#FAF8F7;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif;
}

/* Creando estilos del header */
header{
    position: relative;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    margin-bottom: 40px;
}
header h1{
    width: 90%;
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: bold;
    color: white;
}
.header-content{
    width: 90%;
    font-size: 1.6rem;
    margin: 20px auto;
    margin-top: 30px;
    font-weight: normal;
    color: var(--off-white);
}
.header-button{
    position: absolute;
    width: 250px;
    height: 50px;
    padding-top: 16px;
    top: calc(100% - 25px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--warm-black);   
}
.header-button span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('https://iili.io/FzDXkX.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* Empezando a crear estilos del main, agragando la imagen y estilos al titulo*/
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main--card-container{
    width: 100%;
    height: auto;
}
.main--card-title-container{
    width: 70%;
    min-width:288px;
    max-width: 500px;
    text-align: center;
    height: auto;
    margin: 0 auto;
}
.main--card-title-container img{
    margin-top: 50px;
}
.main--card-title-container .main--card-title{
    margin-top: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--warm-black);
}
.main--card-title-container .main--card-info{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #757575;
}
/* Agregando los estilos a la tabla de monedas */
.card--currency-container{
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}
.card--currency-container .currency-title{
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--bitcoin-orange);
    margin: 20px auto;
}
.card--table-container{
    width: 70%;
    min-width: 280px;
    max-width: 380px;
    margin: 0 auto;
}
table{
    width: 100%;
    height: 100%;
}
table td{
    width:50%;
    height: 70px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #757575;
    background-color: white;
    
}
 .table__top-left{
    border-radius: 15px 0 0 0;
}
 .table__top-right{
    border-radius: 0 15px 0 0;
}
 .table__bottom-left{
    border-radius: 0 0 0 15px;
}
 .table__bottom-right{
    border-radius: 0 0 15px 0;
}
 .table__right{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--black);
}
.card--table-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('https://iili.io/FTX4v1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card--table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('https://iili.io/FTwxLb.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.card--currency-container .currency-date{
    width: 200px;
    height: 30px;
    margin: 20px auto;
    padding: 6px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color:var(--soft-orange);
    border-radius: 5px;
}
/* Agregando estilos a la tabla de comisiones */
.card--currency-container .commisions-title{
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--secondary-blue);
    margin: 20px auto;
}
.commisions--table-container{
    width: 70%;
    min-width: 280px;
    max-width: 380px;
    margin: 0 auto;
}
.commisions-date{
    width: 200px;
    height: 30px;
    margin: 20px auto;
    margin-bottom: 50px;
    padding: 6px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #E7F5FF;
    border-radius: 5px;
}
/* Estilos de la tarjeta de beneficios */
.main--benefits-container{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    background-color: var(--warm-black);
}
.main--benefits-container .Batatabit-logo{
    position: absolute;
    display: inline-block;
    top: -20px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-image: url('https://iili.io/FAfwps.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.benefits--title-container{
    text-align: center;
}
.benefits--title-container .benefits-title{
    padding-top: 40px;
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: bold;
    color: white;
}
.benefits--title-container .benefits-content{
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #757575;
}
.card--benefits-container{
    width: 90%;
    min-width: 290px;
    max-width: 410px;
    margin: 20px auto;
    padding: 15px;
    height: 160px;
    background-color: var(--black);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.logo-cards{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.clock{
    background-image: url('https://iili.io/FACV4V.png');
}
.card--benefits-container .card--time-title{
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}
.card--benefits-container .card--time-content{
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}
/* Agregando los estilos a la tarjeta de beneficios eye */
.eye{
    background-image: url('https://iili.io/FAxeje.png');
}
.card--benefits-container .card--eye-title{
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}
.card--benefits-container .card--eye-content{
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}
/* Agregando los estilos a la tarjeta money */
.money{
    background-image: url('https://iili.io/FAzlSV.png');
}
.card--benefits-container .card--money-title{
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}
.card--benefits-container .card--money-content{
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}
/* Agregando estilos a la tarjeta check */
.check{
    background-image: url('https://iili.io/FAzgxn.png');
}
.card--benefits-container .card--check-title{
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}
.card--benefits-container .card--check-content{
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}
/* Estilos de la sección del background */
.bitcoin-background{
    width: 100%;
    height: 50vh;
    background-image: url('https://iili.io/FAaJHJ.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.bitcoin-background h3{
    padding-top: 40px;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}
/* Sección de planes */
.plans--container{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--off-white);
}
.plans--container .plans--title{
    padding-top: 20px;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: var(--warm-black);
}
.plans--container .plans--content{
    margin: 20px 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: #757575;
}
.plan--card-container{
    position: relative;
    width: 70%;
    min-width: 280px;
    max-width: 320px;
    height: 160px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}
.plan--card-recomend{
    position: absolute;
    width: 150px;
    height: 40px;
    top: -10px;
    left: calc(50% - 75px);
    background-color: var(--bitcoin-orange);
    border-radius: 10px;
}
.plan--card-recomend .recomended{
    margin-top: 7px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}